.formAdd {
    width: 100%;
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
        max-height: 52px;
        width: 954px;
        padding: 12px 16px;
    }

    button {
        max-height: 52px;
        padding: 12px 31.5px;
        margin-left: 24px;
        border: transparent;
        border-radius: 4px;
        background: #008594;
        color: #fff;
        
        &:hover {
            background-color: #02707c;
            cursor: pointer;
        }
    }
}

.errorMessage {
    color: #f00;
}